.c-c-h-a-register61467-container {
  min-height: 100vh;
}
.c-c-h-a-register61467-c-c-h-a-register61467 {
  width: 1827px;
  height: 1343px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(33, 72, 192, 1);
}
.c-c-h-a-register61467-b-g61470 {
  top: -135px;
  left: -1028px;
  width: 1199px;
  height: 1418px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-register61467-svg {
  top: 689.4920654296875px;
  width: 1391;
  height: 1391;
  position: absolute;
}
.c-c-h-a-register61467-svg1 {
  top: 835.45703125px;
  left: 145.9648895263672px;
  width: 1099;
  height: 1099;
  position: absolute;
}
.c-c-h-a-register61467-svg2 {
  top: 964.1365966796875px;
  left: 274.6444396972656px;
  width: 841;
  height: 841;
  position: absolute;
}
.c-c-h-a-register61467-svg3 {
  top: -191px;
  right: -1937px;
  width: 1659;
  height: 986px;
  position: absolute;
}
.c-c-h-a-register61467-username61476 {
  top: 510px;
  left: 684px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-register61467-image {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
.c-c-h-a-register61467-text {
  top: 22.77001953125px;
  left: 77px;
  color: rgba(255, 255, 255, 0.30000001192092896);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text01 {
  color: rgba(255, 255, 255, 0.30000001192092896);
  width: 199px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-image1 {
  top: 22.489990234375px;
  left: 20.760007858276367px;
  width: 35px;
  height: 35px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.c-c-h-a-register61467-password61482 {
  top: 623px;
  left: 684px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-register61467-image2 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
.c-c-h-a-register61467-text02 {
  top: 22.489990234375px;
  left: 73.42001342773438px;
  color: rgba(255, 255, 255, 0.30000001192092896);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text03 {
  color: rgba(255, 255, 255, 0.30000001192092896);
  width: 137px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-password61495 {
  top: 730px;
  left: 684px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-register61467-image3 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
.c-c-h-a-register61467-text04 {
  top: 22.489990234375px;
  left: 73.42001342773438px;
  color: rgba(255, 255, 255, 0.30000001192092896);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text05 {
  color: rgba(255, 255, 255, 0.30000001192092896);
  width: 137px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-image4 {
  top: 22.4899959564209px;
  left: 20.760007858276367px;
  width: 35px;
  height: 35px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.c-c-h-a-register61467-loginbtn61488 {
  top: 882px;
  left: 684px;
  width: 519px;
  height: 77.8499984741211px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.c-c-h-a-register61467-image5 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 78px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.c-c-h-a-register61467-text06 {
  top: 22.080078125px;
  left: 182px;
  color: rgba(33, 72, 192, 1);
  width: 154px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text07 {
  color: rgba(33, 72, 192, 1);
  width: 154px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text08 {
  top: 979px;
  left: 817px;
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text09 {
  color: rgba(255, 255, 255, 1);
  width: 253px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text10 {
  left: 691px;
  color: rgba(255, 255, 255, 1);
  width: 507px;
  bottom: 256px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text11 {
  color: rgba(255, 255, 255, 1);
  width: 507px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text12 {
  color: rgba(255, 255, 255, 1);
  width: 507px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: underline;
}
.c-c-h-a-register61467-image6 {
  top: 209px;
  left: 810px;
  width: 272px;
  height: 152px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.c-c-h-a-register61467-text13 {
  top: 411px;
  left: 684px;
  color: rgba(255, 255, 255, 1);
  width: 519px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-text14 {
  color: rgba(255, 255, 255, 1);
  width: 519px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.c-c-h-a-register61467-group2508547 {
  top: 647px;
  left: 712px;
  width: 19px;
  height: 31px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.c-c-h-a-register61467-svg4 {
  top: 25px;
  left: 8px;
  width: 3;
  height: 3;
  position: absolute;
}
